@model IEnumerable<RecipeAssignment.Models.Recipe>
@{
    ViewData["Title"] = "DisplayPage";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <nav class="navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Baking Recipes</a>
                </div>
                <center>
                    <a asp-action="Index">Home</a>
                    <a asp-action="InsertPage">Add Recipe</a>
                    <a asp-action="DataPage">View Recipes</a>
                </center>
            </div>
        </nav>
        
        <table>
            <tr>
                <td>
                    <h2>Ingredients:</h2>
            <tbody>
                @foreach (RecipeAssignment.Models.Recipe r in Model)
                {
                    <tr>
                        <td>@r.Ingredients</td>
                    </tr>
                }
            </tbody>
            </td>
            <td>
                <h2>Directions:</h2>
            <tbody>
                @foreach (RecipeAssignment.Models.Recipe r in Model)
                {
                    <tr>
                        <td>@r.Directions</td>
                    </tr>
                }
            </tbody>
            </td>
            </tr>
            <h2>Rating:</h2>
            <tbody>
                @foreach (RecipeAssignment.Models.Recipe r in Model)
                {
                <tr>
                    <td>@r.Rating</td>
                    <td>@r.RatingReview</td>
                    <td><a asp-action="UserPage">Create Rating</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>