@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <!--
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>-->
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css"/>
</head>
<body>
<div>

    <header class="navbar">
        <section class="navbar-section">
            <a class="navbar-brand mr-2" asp-action="Index">Home</a>\
            <a class="btn btn-link" asp-action="InsertPage">Add Recipe</a>
            <a class="btn btn-link" asp-action="DataPage">View Recipes</a>
        </section>
    </header>`
<br/>
<!--<center><img src="~/images/homeBaking.jpg" /></center>-->
<br/>
<h2>About</h2>
<br/>
Welcome to baking recipes! Here, you will be able to enter your own recipes, as well as give a rating on existing recipes. Of course, you will also be able to view
details of each listed recipe.
</div>
</body>
</html>